# Archivos de Mac
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows thumbs
[Tt]humbs.db

# Esta carpeta está protegida por Visual no se qué sea
App_Data

#User Specific Files
*.user
*.suo
*.dll
*.pdb
*.cache
*FileListAbsolute.txt