body {
    background-color: #F4F4F4;
    font-family: 'Open Sans';
    font-size: 14px;
}

th {
    font-size: 1em;
    border-bottom: 1px solid #CCC;
    padding-top: 20px;
}

.page {
    box-shadow: 0 0 6px 0px #CCC;
    background-color: #FFF;
    margin: 0 auto;
    width: 960px;
}

.logoIzquierdo {
    float: left;
    padding: 10px;
}
.logoDerecho {
    float: right;
    padding: 10px;
}
.tituloPrincipal {

}
.tituloPrincipal h1 {
    padding: 10px 0 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.contenedorMenu {
    clear: both;
    display: block;
    float: none;
}

.main {
    clear: both;
    display: block;
    padding: 20px;
}

/* Menú */
.ddsmoothmenu ul {
    background-color: #EFF5F1;
    border-bottom: 1px solid #2F7E57;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.ddsmoothmenu ul li {
    display: inline;
    position: relative;
    padding: 13px 0;
}

.ddsmoothmenu ul li a {
    color: #457157;
    display: inline;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
}

.ddsmoothmenu ul li a:hover {
    color: #457157;
}

.ddsmoothmenu ul li ul {
    background-color: #FFF;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 0;
}

.ddsmoothmenu ul li ul:hover {
    display: block;
}

.ddsmoothmenu ul li ul li {
    border-top: 1px solid #DBE9E2;
    display: block;
    float: none;
    padding: 0;
    text-align: left;
    width: 200px;
}
.ddsmoothmenu ul li ul li:hover {
    background-color: #F2F6F4;
}

.ddsmoothmenu ul li ul li a {
    display: block;
}

input[readonly="readonly"] 
{
    color: #666;
    background-color: #CCC;
}


