body {
    background-color: #F5F5F5;
}

.page {
    box-shadow: 0 0 6px 0px #CCC;
    background-color: #FFF;
    margin: 0 auto;
    width: 960px;
}

.tituloPrincipal {
    padding: 5px 15px;
}

.contenedorMenu {
    clear: both;
    display: block;
}

.main {
    clear: both;
    display: block;
    padding: 20px;
}

/* Menú */
.ddsmoothmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ddsmoothmenu ul li {
    display: block;
    float: left;
    position: relative;
}

.ddsmoothmenu ul li a {
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #F5F5F5;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.ddsmoothmenu ul li ul {
    position: absolute;
}

.ddsmoothmenu ul li ul li {
    float: none;
    width: 150px;
}

th {
    font-size: 1em;
    border-bottom: 1px solid #CCC;
    padding-top: 20px;
}

.logoIzquierdo {
    float: left;
}
.logoDerecho {
    float: right;
}
.tituloPrincipal h1 {
    text-align: center;
    margin: 20px 0;
}





